</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

This is a notebook reviewing code for reviewing Chicaog Data Set

# Understand the datasets

To complete the project the following data sets were used:
1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

# Solves

Two distinct approaches were employed to address the data queries. The first method involved direct querying of the relational database using SQL and will be documented here in <font color = "red"> mySQL language </font>. The second method consisted of extracting the data from the SQL database and transforming it into a pandas DataFrame for subsequent querying and analysis within a Python environment. <br>

This is an example of how to solve the same queries using different logic and different code.

## Preparing Database

CSV files were downloaded and imported into mySQL.  Tables were renamed "census", "crime", and "schools" to decrease typing.

## Initiating Necessary Libraries

To begin working with our data, we need to import the required Python libraries. This step ensures that we have access to the functions and tools necessary for database interaction and data manipulation. We will install the libraries if they are not already present in our environment and then import them into our Jupyter Notebook.

In [ ]:
!pip install pandas
!pip install sqlalchemy
!pip install mysql.connector

import mysql.connector
from mysql.connector import Error
import pandas as pd
from sqlalchemy import create_engine

# Connecting to SQL Database and Importing Data into Panda Objects  
  
This is a new method of utilizing sqlalchemy library to assist in making the connection and closing the connection.

In [ ]:
# STEP 1: Set your MySQL credentials and DB info, use your settings

user = 'root'
password = ''
host = 'localhost'
port = 3306
database = 'chicago'

connection_str = f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}'

engine = create_engine(connection_str)

conn = None

df_census = pd.read_sql_table('census', con = engine)
df_crime = pd.read_sql_table('crime', con = engine)
df_schools = pd.read_sql_table('schools', con = engine)

# <font color ="green">Query 1: Find the total number of crimes recorded in the CRIME table. </font>

<font color = "red">SELECT COUNT(*) as TOTAL_CRIMES  
FROM crime;</font>

In [ ]:

# Use the .shape attribute to get the number of rows (which represents the total number of crimes)
total_crimes = df_crime.shape[0]

# You can then print the result
print(f"Total Crimes: {total_crimes}")

# <font color ="green">Query 2: List community area names and numbers with per capita income less than 11000. </font>

<font color = red>
SELECT community_area_number, community_area_name, per_capita_income  <br>
FROM census  <br>
WHERE per_capita_income < 11000;
</font>

In [ ]:
#list community area names with per capita income > 11000
high_income_areas_info = df_census[df_census["PER_CAPITA_INCOME"] > 11000][["COMMUNITY_AREA_NAME", "COMMUNITY_AREA_NUMBER", "PER_CAPITA_INCOME"]]
print(high_income_areas)

# <font color = "green"> Query 3: List all case numbers for crimes involving minors? </font>

<font color = "red"> SELECT id, case_number, primary_type, description <br>
FROM crime <br>
WHERE description LIKE '%minor%';

In [ ]:
# Use the .str.contains() method on the 'description' column to filter rows
# where the description contains the word 'minor' (case-insensitive by default)
minor_crime_df = df_crime[df_crime['description'].str.contains('minor', case=False)]

# Select the desired columns ('id', 'case_number', 'primary_type', 'description')
selected_columns_df = minor_crime_df[['id', 'case_number', 'primary_type', 'description']]

# You can now print the resulting DataFrame
print(selected_columns_df)

# <font color = "green">Query 4: List all kidnapping crimes involving a child.

<font color = "red"> SELECT DISTINCT case_number, primary_type, date, description <br>
FROM crime <br>
WHERE primary_type = 'kidnapping'; </font>

In [ ]:
# Filter the DataFrame where the 'primary_type' column is equal to 'KIDNAPPING'
kidnapping_df = df_crime[df_crime['primary_type'] == 'KIDNAPPING']

# Select the desired columns ('case_number', 'primary_type', 'date', 'description')
selected_columns_df = kidnapping_df[['case_number', 'primary_type', 'date', 'description']]

# Get the distinct rows based on the selected columns
distinct_kidnapping_df = selected_columns_df.drop_duplicates()

# You can now print the resulting DataFrame with distinct kidnapping cases
print(distinct_kidnapping_df)

# <font color = "green"> Query 5: List the kind of crimes that were recorded at schools. (No repetitions)

<font color = "red"> SELECT primary_type, ANY_VALUE(location_description) as location <br>
FROM crime <br>
WHERE location_description like '%school%' <br>
GROUP BY primary_type <br>
ORDER BY primary_type;

In [ ]:
# Filter for crimes where the location_description contains 'school' (case-insensitive)
school_crimes_df = df_crime[df_crime['location_description'].str.contains('school', case=False)]

# Select the 'primary_type' and 'location_description' columns
selected_columns_df = school_crimes_df[['primary_type', 'location_description']]

# Get distinct rows based on the combination of 'primary_type' and 'location_description'
distinct_school_crimes_df = selected_columns_df.drop_duplicates(subset=['primary_type', 'location_description'])

# Sort the result by 'primary_type'
sorted_distinct_school_crimes_df = distinct_school_crimes_df.sort_values(by='primary_type')

# Print the resulting DataFrame
print(sorted_distinct_school_crimes_df)

# <font color = "green"> Query 6: List the type of schools along with the average safety score for each type.

<font color = "red">SELECT "Elementary, Middle, or High School", avg(safety_score) <br>
FROM schools <br>
GROUP BY "Elementary, Middle, or High School";

In [ ]:
# Group the DataFrame by the column "Elementary, Middle, or High School"
grouped_schools = df_schools.groupby("Elementary, Middle, or High School")

# Calculate the average of the 'safety_score' for each group
average_safety_scores = grouped_schools['safety_score'].mean()

# Create a new DataFrame to display the results
average_safety_df = pd.DataFrame({
    "Elementary, Middle, or High School": average_safety_scores.index,
    "average_safety_score": average_safety_scores.values
})

# Print the resulting DataFrame
print(average_safety_df)

# <font color = "green"> Query 7: List 5 community areas with highest % of households below poverty line.

<FONT COLOR = "red"> SELECT community_area_name, percent_households_below_poverty <br>
FROM census <br>
ORDER BY percent_households_below_poverty DESC <br>
LIMIT 5;

In [ ]:
poverty = df_census.sort_values(by="PERCENT_HOUSEHOLDS_BELOW_POVERTY", ascending = False)["COMMUNITY_AREA_NAME"].head(5)
print(poverty)

# <font color = "green"> Query 8: Which community area is most crime prone?  Display the community area number only.

<font color = "red"> SELECT community_area_number, COUNT(community_area_number) AS Frequency <br>
FROM crime <br>
GROUP BY community_area_number <br>
ORDER BY COUNT(coummunity_area_number) DESC <br>
LIMIT 1;

In [ ]:
crime_prone = df_crime.groupby("COMMUNITY_AREA_NUMBER").size()
most_crime = crime_prone[crime_prone == crime_prone.max()]
print(most_crime)

# <font color = "green">Query 9: Use a sub-query to find the name of the community area with highest hardship index.

<font color = "red"> SELECT community_area_name, hardship_index <br>
FROM census <br>
WHERE hardship_index = (SELECT Max(hardship_index) FROM census)

In [ ]:

highest_hardship = df_census["HARDSHIP_INDEX"].max()
most_hardship = df_census[df_census["HARDSHIP_INDEX"] == highest_hardship]
print(most_hardship[["COMMUNITY_AREA_NAME", "HARDSHIP_INDEX"]])

# <font color = "green"> Query 10: Use a sub-query to determine the Community Area Name with most number of crimes.

<font color = "red"> SELECT community_area_name FROM census <br>
WHERE community_area_name = (SELECT community_area_number <br> 
    FROM (<br>
        SELECT community_area_number, COUNT(*) AS crime_count FROM CRIME <br>
        GROUP BY community_number <br>
        ORDER BY crime_count DESC <br>
        LIMIT 1 <br>
    ) AS Subquery
);

In [ ]:
crime_prone = df_crime.groupby("COMMUNITY_AREA_NUMBER").size()
most_crime = crime_prone[crime_prone == crime_prone.max()]
most_crime_areas = most_crime.index

## Conclusion

Thank you for reviewing this notebook. This exercise served as a practical lesson in utilizing pandas for data manipulation and leveraging Jupyter Notebook for documentation. As I progress through the Coursera IBM Data Science Professional Certificate, I am actively applying the concepts learned in each module through hands-on implementation.